<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.redis.dao.UserDao">
    <cache type="com.learn.redis.cache.RedisCache"/>
    <select id="findAll" resultType="user">
        select name, age, job
        from user;
    </select>

    <insert id="insert" parameterType="user">
        insert into user (name, age, job)
        values (#{name}, #{age}, #{job});
    </insert>

    <delete id="delete" parameterType="String">
        delete
        from user
        where name = #{name};
    </delete>

    <update id="updateByName" parameterType="user">
        update user
        set age=#{age},
            job=#{job}
        where name = #{name};
    </update>
</mapper>