*.zip
*.zip
.idea/
*.exe

ConfigGit/
Consul(ServiceReigster)/
JMeter/

middleware/ElasticSearch/elasticsearch-8.1.2
middleware/ElasticSearch/head-master
middleware/ElasticSearch/kibana-8.1.2
middleware/RabbitMQ/erl-24.3.3
middleware/RabbitMQ/RabbitMQ-3.9.14

Nacos/
Natapp/
Nginx/
Sentinel/

**/target/**